.schedule-container {
    width: 90%;
    margin: auto;
    text-align: center;

    h2 {
        color: #333;
        margin-bottom: 20px;
    }
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #727CF5;
        color: white;
    }

 
    td {
        font-size: 14px;
    }
}
/* Schedule.scss */
.even-day {
    background-color: #f2f2f2; /* Màu nền cho các ngày chẵn */
}

.odd-day {
    background-color: #ffffff; /* Màu nền cho các ngày lẻ */
}

.sunday {
    background-color: #ffcccc; /* Màu nền cho Chủ nhật */
}
